<! DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <style>
            {{style}}
        </style>
        <link rel="stylesheet" type="text/css" href="default.css">
        <script>
            function toggle_visibility(cb, target_class) {
                let visibility = cb.checked ? "visible" : "hidden";
                var elms = document.getElementsByClassName(target_class);
                for (elm of elms) {
                    elm.style.visibility = visibility;
                }
            }
            function toggle_img_visibility(cb, target_tag) {
                let display = cb.checked ? "block" : "none";
                var elms = document.getElementsByClassName("img");
                for (elm of elms) {
                    if (elm.classList.contains(target_tag)) {
                        elm.style.display = display;
                    }
                }
            }
        </script>
    </head>

    <body>
        <div class="header">
            <div class="legend">
                {{legend}}
                <div title="Toggle point's visibility">
                    <input type="checkbox" id="cb_point_visibility" checked onchange="toggle_visibility(this, 'point')">
                    <label for="cb_point_visibility">Point</label>
                </div>
                <div title="Toggle rectangles's visibility">
                    <input type="checkbox" id="cb_rectangle_visibility" checked onchange="toggle_visibility(this, 'rectangle')">
                    <label for="cb_rectangle_visibility">Rectangle</label>
                </div>
                <div title="Toggle circle's visibility">
                    <input type="checkbox" id="cb_circle_visibility" checked onchange="toggle_visibility(this, 'circle')">
                    <label for="cb_circle_visibility">Circle</label>
                </div>
                {{tag_checkboxes}}
            </div>
        </div>
        <div class="main">
            {{main}}
        </div>
    </body>

    </html>