<html>


<head>
    <title>{{title}}</title>

    <style>
        body {
            display: flex;
            justify-content: center;
        }

        div#container {}
    </style>
</head>

<body>
    <div id="container">
        <div>
            <div id="controls" style="text-align:center">
                {% if prev_id %}
                <a href="/browse/{{prev_id}}">Prev</a>
                {% endif %}
                <a href="/">Up</a>
                {% if next_id %}
                <a href="/browse/{{next_id}}">Next</a>
                {% endif %}
            </div>
            {{svg}}
        </div>
    </div>
</body>

</html>