<! DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <style>
            {{style}}
        </style>
        <link rel="stylesheet" type="text/css" href="default.css">
        <script>
            function toggle_visibility(cb, target_class) {
                let visibility = cb.checked ? "visible" : "hidden";
                var elms = document.getElementsByClassName(target_class);
                for (elm of elms) {
                    elm.style.visibility = visibility;
                }
            }
            function toggle_img_visibility(cb, target_tag) {
                let display = cb.checked ? "block" : "none";
                var elms = document.getElementsByClassName("img");
                for (elm of elms) {
                    if (elm.classList.contains(target_tag)) {
                        elm.style.display = display;
                    }
                }
            }
            function switch_display() {
                let div_zoom = document.getElementById('zoom');
                let div_main = document.getElementById('main');
                if (div_zoom.style.display === 'none') {
                    div_zoom.style.display = 'flex';
                    div_main.style.display = 'none';
                } else {
                    div_zoom.style.display = 'none';
                    div_main.style.display = 'flex';
                }
            }
            function multiple_attr(elm, attr, multiplier) {
                elm.setAttribute(attr, multiplier * Number(elm.getAttribute(attr)))
            }
            function zoom(caller) {
                const div = caller.parentNode.parentNode.parentNode.cloneNode(true);
                const div_zoom = document.getElementById('zoom');
                const svg = div.querySelector('svg');
                svg.setAttribute("transform", "scale(2)");
                svg.style.margin = 'auto'
                div_zoom.replaceChildren(svg)
                switch_display();
            }
        </script>
    </head>

    <body>
        <div class="header">
            <div class="legend">
                {{legend}}
                {{shape_toggles}}
                {{tag_checkboxes}}
            </div>
        </div>
        <div id="zoom" onclick="switch_display()" style="display:none; width: 100%; height: 100%;">
        </div>
        <div id="main" class="main">
            {{main}}
        </div>
    </body>

    </html>