body {
    background: #002;
    color: white;
}

div.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

svg {
    max-width: 256;
    max-height: 512;
}

figcaption {
    text-align: center;
    margin: auto;
}

div.header {
    background: #002;
    font-size: .8em;
    position: sticky;
    top: 0;
}

div.legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.legendItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

div.legend label {
    user-select: none;
}

div.box {
    width: .8em;
    height: .8em;
    display: inline-block;
}

div.legend div {
    margin: .2em;
}

div#zoom {
    cursor: zoom-out;
}

span.zoom {
    cursor: zoom-in;
}